@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default blue focus ring */
*:focus {
  outline: none !important;
}

/* Remove default blue tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray-50 m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
